<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PSA Player Database</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="playerslist.js"></script>
</head>
<body class="hg">
<header><h1>PSA Players Database</h1></header>
<div ng-app="myApp" ng-controller="GetPsaData" class="hg-body">
  <main class="hg-content" >
    <table id="playerTable">
      <tr>
        <th>Name</th><th>Rank</th><th>Age</th><th>Country</th><th>Sponsors</th><th><!--ID--></th>
      </tr>
      <tr class="player-row" ng-repeat="player in psaData.players">
        <td>{{player.name}}</td><td>{{player.rank}}</td><td>{{player.age}}</td>
        <td>{{player.country}}</td>
        <td class="sponsor"><span ng-repeat="sponsor in player.sponsors">{{sponsor}}</span></td><td><!--ID--></td>
      </tr>
    </table>
  </main>
  <aside class="hg-filters">
    <h3>Filters</h3>
    <h5>Country</h5>
    <select ng-model="selectedCountry" ng-options="y for (x, y) in psaData.countries" ng-change="filter()">
    </select>
    <h5>Sponsor</h5>
    <select ng-model="selectedSponsor" ng-options="y for (x, y) in psaData.sponsors" ng-change="filter()">
    </select>
    <h5>Tournaments (show finalists)</h5>
    <select ng-model="selectedTournament" ng-options="y for (x, y) in psaData.tournaments" ng-change="filter()">
    </select>
    <a id="openModalButton" href="#openModal">Add a player</a>
    <div id="openModal" class="modalDialog">
      <div>
        <a href="#close" title="Close" class="close">X</a>
        <h2>Add a player</h2>
        <form>
          <h4>First Name</h4>
          <input type="text" ng-model="new_firstname">
          <h4>Last Name</h4>
          <input type="text" ng-model="new_lastname">
          <h4>Date of birth</h4>
          <input type="text" ng-model="new_dob">
          <h4>Country</h4>
          <select ng-model="new_country" ng-options="y for (x, y) in psaData.countries"></select>
          <h4>Sponsors</h4>
          <select ng-model="new_sponsor" ng-options="y for (x, y) in psaData.sponsors"></select>
          <button ng-click="addPlayer()">Add Player</button>
        </form>
      </div>
    </div>
  </aside>
</div>
<footer>&copy; Boone Neligan 2016</footer>
</body>
</html>