<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PSA Player Database</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="playerslist.js"></script>
</head>
<body class="hg" ng-app="myApp" ng-controller="GetPsaData">
<header><h1>PSA Players Database</h1></header>
<p>Tracking {{psaData.count}} players</p>
<div class="hg-body">
  <main class="hg-content" >
    <table id="playerTable">
      <tr>
        <th>Name</th><th>Rank</th><th>Age</th><th>Country</th><th>Sponsors</th><th><!--ID--></th>
      </tr>
      <tr class="player-row" ng-repeat="player in psaData.players">
        <td>{{player.name}}</td><td>{{player.rank}}</td><td>{{player.age}}</td>
        <td>{{player.country}}</td>
        <td class="sponsor"><span ng-repeat="sponsor in player.sponsors">{{sponsor}}</span></td><td><!--ID--></td>
      </tr>
    </table>
  </main>
  <aside class="hg-filters">
    <h3>Filters</h3>
    <h5>Country</h5>
    <select ng-model="selectedCountry" ng-options="y for (x, y) in psaData.countries" ng-change="filter()">
    </select>
    <h5>Sponsor</h5>
    <select ng-model="selectedSponsor" ng-options="y for (x, y) in psaData.sponsors" ng-change="filter()">
    </select>
    <h5>Tournaments (show finalists)</h5>
    <select ng-model="selectedTournament" ng-options="y for (x, y) in psaData.tournaments" ng-change="filter()">
    </select>
    <a id="openAddPlayerModalButton" class="openModalButton" href="#openAddPlayerModal">+Player</a>
    <div id="openAddPlayerModal" class="modalDialog">
      <div>
        <a ng-click="filter()" href="#close" title="Close" class="close">X</a>
        <h2>Add a player</h2>
        <form>
          <label>First Name</label>
          <input type="text" ng-model="new_fname">
          <label>Last Name</label>
          <input type="text" ng-model="new_lname">
          <label>Rank</label>
          <input type="text" ng-model="new_rank">
          <label>Date of birth (YYYY-MM-DD)</label>
          <input type="text" ng-model="new_dob">
          <label>Country</label>
          <select ng-model="new_country" ng-options="y for (x, y) in psaData.countries"></select>
          <button ng-click="addPlayer()">Add Player</button>
        </form>
      </div>
    </div>
    <a id="openAddTournamentModalButton" class="openModalButton" href="#openAddTournamentModal">+Tournament</a>
    <div id="openAddTournamentModal" class="modalDialog">
      <div>
        <a ng-click="filter()" href="#close" title="Close" class="close">X</a>
        <h2>Add a tournament</h2>
        <form>
          <div>
            <label>Name</label>
            <input type="text" ng-model="new_tournament_name">
            <label>City</label>
            <input type="text" ng-model="new_tournament_city">
            <label>Country</label>
            <select ng-model="new_tournament_country" ng-options="y for (x, y) in psaData.countries"></select>
            <label>Prize Money</label>
            <input type="text" ng-model="new_tournament_prize_money">
            <label>Year (YYYY)</label>
            <input type="text" ng-model="new_tournament_year">
          </div>
          <div>
            <label>Winner</label>
            <select ng-model="new_winner" ng-options="player.name for player in psaData.players"></select>
            <label>Runner-Up</label>
            <select ng-model="new_runnerup" ng-options="player.name for player in psaData.players"></select>
            <button ng-click="addTournament()">Add Tournament</button>
          </div>
        </form>
      </div>
    </div>
    <a id="openAddSponsorshipModalButton" class="openModalButton" href="#openAddSponsorshipModal">+Sponsorship</a>
    <div id="openAddSponsorshipModal" class="modalDialog">
      <div>
        <a ng-click="filter()" href="#close" title="Close" class="close">X</a>
        <h2>Add a sponsorship</h2>
        <form>
          <label>Player</label>
          <select ng-model="new_ps_player" ng-options="player.name for player in psaData.players"></select>
          <label>Sponsor</label>
          <select ng-model="new_ps_sponsor" ng-options="y for (x, y) in psaData.sponsors"></select>
          <button ng-click="addSponsorship()">Add Sponsorship</button>
        </form>
      </div>
    </div>
    <a id="openAddSponsorModalButton" class="openModalButton" href="#openAddSponsorModal">+Sponsor</a>
    <div id="openAddSponsorModal" class="modalDialog">
      <div>
        <a ng-click="filter()" href="#close" title="Close" class="close">X</a>
        <h2>Add a sponsor</h2>
        <form>
          <label>Name</label>
          <input type="text" ng-model="new_sponsor">
          <label>Country</label>
          <select ng-model="new_sponsor_country" ng-options="y for (x, y) in psaData.countries"></select>
          <button ng-click="addSponsor()">Add Sponsor</button>
        </form>
      </div>
    </div>
    <a id="openAddCountryModalButton" class="openModalButton" href="#openAddCountryModal">+Country</a>
    <div id="openAddCountryModal" class="modalDialog">
      <div>
        <a ng-click="filter()" href="#close" title="Close" class="close">X</a>
        <h2>Add a country</h2>
        <form>
          <label>Name</label>
          <input type="text" ng-model="new_country">
          <label>Population</label>
          <input type="text" ng-model="new_population">
          <button ng-click="addCountry()">Add Country</button>
        </form>
      </div>
    </div>
  </aside>
</div>
<footer>&copy; Boone Neligan 2016</footer>
</body>
</html>